
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /Realestate/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Realestate/index.php [L]
</IfModule>

# END WordPress

# log php errors
php_flag  log_errors on
php_flag  log_errors on
php_value error_log D:\Folder\Programing\PHP\Realestate\wp-content\plugins\error-log-viewer/log/php-errors.log
